.about-me {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
    background: #E6E3DE;
    flex-direction: column;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #747474;
    font-size: 100px;
}

.about-me > h1 {
    position: absolute;
    font-size: 90px;
    top: 220px;
}

.about-me > h2 {
    position: absolute;
    font-size: 40px;
    top: 400px;
}

.fa-angle-down {
    position: absolute;
    top: 450px;
    background-position: center;
    color: #747474;
    font-size: 50px;
}