.music-container {
    background: #E6E3DE;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: relative;
}

.music-container > h2 {
    position: absolute;
    color: #747474;
    font-size: 40px;
    max-width: 105%;
    top: 20px;
}

.albums {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.albums > img {
    width: 15%;
    margin: 0.4vw;
}

/* Make text smaller if the window gets too small */
@media screen and (max-width: 800px) {
    .music-container > h2 {
        font-size: 30px;
    }
}