.research {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    z-index: -1;

    background-image: url('/images/research.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #747474;
    font-size: 100px;
}