.navbar {
  background: #E6E3DE;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #747474;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.navbar-logo:hover {
  text-decoration: none;
  color: #747474;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #747474;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: #747474;
  border-bottom: 4px solid #747474;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #747474;
}

.menu-icon {
  display: none;
}


/* If the window is smaller, display a drop-down menu
  instead of the regular nav bar. */

@media screen and (max-width: 1300px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 60vh;
    position: absolute;
    top: 80px;
    right: -50%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #C2BEB7; opacity: 80%;
    right: -3%;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #E6E3DE;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .navbar-logo:hover {
    color: #747474;
    text-decoration: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #747474;
    font-size: 2rem;
  }

  .scrolled{
    position: fixed;
  }
}

